{% extends 'base.html.twig' %}

{% block title %}Forgotten Jobs!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-2 mb-2">Forgotten Jobs </h1>
        <h4 class="mt-2 mb-2">Date {{ date("now")|date('Y-m-d') }} </h4>
        {% if donejobs|length > 0 %}
        <table id="myTable" class="table table-hover">
            <thead>
            <tr>
                <th width="80" >Job ID</th>
                <th>Job name</th>
                <th>Road section</th>
                <th>Until this km job was done</th>
                <th width="80">Unit of</th>
                <th width="100">Done job date</th>
                <th>Section ID</th>
                <th>Road level</th>
                <th>Done range</th>
                <th>Left range</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for donejob in donejobs  %}
                <tr class="">

                    <td>{{ donejob['job_id'] }}</td>
                    <td>{{ donejob['job_name']}}</td>
                    <td>{{ donejob['road_section']}}</td>
                    <td>{{ donejob['road_section_end']}}</td>
                    <td>{{ donejob['unit_of']}}</td>
                    <td>{{ donejob['done_job_date']|date('Y-m-d')}}</td>
                    <td> {{ donejob['section_id']|default('NULL') }}</td>
                    <td>{{ donejob['road_level']}}</td>
                    <td>{{ range[donejob['id']]}}</td>
                    <td>{{ left[donejob['id']]}}</td>

                </tr>
            {% endfor %}
            {% else %}
                <h3>There are no forgotten jobs :( </h3>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
